.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 20px;
  background-color: rgb(255, 255, 255);
  padding: 20px 30px 20px 150px;
  color: black;
}

.btn {
  height: 40px;
  margin-right: 50px;
  cursor: url("../../assets/pointer.png"), pointer;
  font-size: x-large;
}

.btn:hover {
  text-decoration: underline wavy;
}

.addProducts {
  justify-content: center;
}
.font {
  font-size: x-large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: oblique;
  color: black;
}
