img {
  width: 300px;
  height: 150px;
}
.productCard {
  border: 2px solid rgb(255, 255, 255);
  margin: 10px;
  display: flex;
  gap: 25px;
  align-items: center;
  padding: 20px;
  width: 300px;
  flex-direction: column;
  flex-wrap: wrap;
}
.cardStyle {
  display: flex;
  flex-direction: row ;
  flex-wrap: wrap;
  justify-content: center;
  color: rgb(255, 255, 255);
}
.flex {
  font-style: italic;
  display:flex;
  justify-content: center;
  font-size: 6em;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 5px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s;
}

.flex:hover {
  color: #fff;
  text-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}
