img {
  width: auto;
  height: 150px;
}
.productCard {
  border: 2px solid rgb(255, 255, 255);
  margin: 10px;
  display: flex;
  gap: 25px;
  align-items: center;
  padding: 20px;
  width: 300px;
  flex-direction: column;
}
.cardStyle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgb(255, 255, 255);
}
.flex {
  display: flex;
  justify-content: center;
  color: rgb(99, 99, 99);
  font-style: italic;
}
